.montag-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.montag-container > p {
  font-size: 12px;
  margin: 0% 3% 2% 2%;
}

.montag-container > img {
  width: 60%;
}

.montag-images, .montag-images2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.montag-images3 {
  display: flex;
}



.montag-images2, .montag-images > img {
  width: auto;
  align-self: center;
  margin-bottom: 2%;
}

.montag-group-image {
  width: 20%;
  margin-left: 30%;
  align-self: center;
}

@media(max-width:415px){
  .montag-container {
    width: 100vw;
  }
  .montag-images > img {
    width: 90%;
    align-self: center;
  }
  .montag-images2 > img {
    width: 90%;
    align-self: center;
    margin-top: 20px;
  }
  .montag-images3 {
    display: flex;
    flex-direction: column;
  }
  .montag-images3 > img {
    width: 90%;
  }
  .montag-group-image {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
  }
}