.header {
  display: flex;
  height: 10vh;
  /* background-color: red; */
}
@media(max-width:860px){
  .header {
    height: 16vh;
  }
}
@media(max-width:600px){
  .header {
    height: 9vh;
  }
}



.phone-container {
  display: flex;
  margin-left: 40px;
  margin-top: -2px;
}

@media(max-width:600px){
  .phone-container {
    flex-direction: column;
  }
}



@media(max-width:600px){
  .header-phones {
    font-size: 10px;
  }
}




/* PHONES */

.header-phones {
  display: flex;
  justify-content: center;
  height: 6vh;
  background-color: #E9EAED;
}
@media(max-width:860px){
  .header-phones{
    height: 10vh;
  }
}
@media(max-width:420px){
  .header-phones{
    height: 5vh;
  }
}

.header-phones-phone {
  margin-top: 10px;
  color: green;
}
@media(max-width:860px){
  .header-phones-phone {
    font-size: 140%;
  }
}
@media(max-width:320px){
  .header-phones-phone {
    margin-top: 6px;
    font-size: 120%;
  }
}


/* NAVIGATION */


.header-nav {
  background-color: white;
  border-radius: 0;
}




/* @media(max-width: 600px){
  .header-brand {
    margin-left: 0px;
  }
} */


.molmixlogo {
  width: 175px;
  height: 67px;
}
@media(max-width: 860px){
  .molmixlogo {
    width: 30%;
    position: relative;
    left: 49%;
  }
}
@media(max-width: 740px){
  .molmixlogo {
    width: 30%;
    position: unset;
  }
}
@media(max-width: 420px){
  .molmixlogo {
    width: 60%;
    height: 90px;
    margin-top: -12.3px;
  }
}
@media(max-width: 400px){
  .molmixlogo {
    width: 55%;
    height: 90px;
    margin-top: -15.3px;
  }
}
@media(max-width: 380px){
  .molmixlogo {
    width: 200px;
    height: 80px;
    margin-top: 1px;
  }
}

.navlink {
  font-size: 12px;
  font-weight: 700;
  margin-top: 12px;
  margin-right: -14px;
}

@media(max-width:1024px){
  .navlink {
    margin-right: -18px;
  }
}
@media(max-width:820px){
  .navlink {
    margin-right: 5px;
    font-size: 10px;
    margin-top: 0;
  }
}