.contacts-container-box {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: white;
  margin-top: -20px;
}

.contacts-box {
  display: flex;
  margin-left: 2%;
  margin-top: 5%;
}


.conacts-first-box {
  display: flex;
  flex-direction: column;
}

.contacts-first-box > p {
  font-size: 12px;
  margin-top: -3%;
}


.contacts-map-box {
  width: 70%;
  margin-bottom: 7%;
  margin-left: 5%;
}

@media(max-width:860px){
  .contacts-box {
    flex-direction: column;
  }
  .contacts-map-box {
    width: 95%;
    height: 400px;
    margin-left: 0%;
    margin-bottom: 50px;
  }

  .contacts-first-box > p {
    margin-top: -1.5%;
  }
}

@media(max-width:415px){
  
}