.servis {
  background-color: white;
}
.servis-container {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 10%;
}

.servis-container > p {
  font-size: 12px;
  margin-top: 1%;
}

.servis-mecha {
  display: flex;
}


@media(max-width:415px){
  .servis-container {
    margin: 0;
    padding: 3%;
  }
}