
.firstbox > p {
  margin-left: 2%;
  font-size: 12px;
}
.margin-left {
  margin-left: 1%;
}
.aboutus-container {
  display: flex;
  background-color: white;
  flex-direction: column;
}
.aboutus-firstbox{
  display: flex;
  flex-flow: row nowrap;
}
.firstbox {
  width: 70%;
}
.first-box-width {
  width: 90%
}
li {
  font-size: 12px;
  margin-right: 2%;
}
.list > p {
  font-size: 12px;
  margin-left: 2%;
}
@media(max-width:820px){
  .firstbox{
    width: 100%;
  }
  .firstbox > p {
    margin-right: 4%;
  }
  .margin-left {
    margin-left: 3%;
    margin-right: 3%;
  }
  .aboutus-firstbox {
    flex-direction: column;
  }
  .aboutus-firstbox > img {
    width: auto;
    align-self: center;
  }
  .first-box-width {
    width: 95%;
  }
  ul {
    margin-right: 5%;
  }
  .list >p {
    margin: 0% 2% 0% 2%;
  }
  .aboutusimage {
    width: 90%;
    height: 80%;
  }
  .aboutusimage2 {
    width: auto;
    height: 80%;
  }
}
@media(max-width:415px){
  .aboutusimage2 {
    width: 80%;
    height: 80%;
  }
  .aboutus-firstbox > img {
    width: 80%;
  }
}

/* TABLE */


.aboutus-table {
  margin: 0% 15%;
}
@media(max-width:860px){
  .aboutus-table{
    margin: 0.5%;
  }
}

.aboutus-table-head{
  background-color: #00509D;
  color: white;
}

@media(max-width:860px){
  .aboutus-table-head{
    font-size: 12px;
  }
}



